<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaPrisma.Properties.Settings.prismaConnectionString"
            connectionString="server=localhost;user id=root;password=040288fe;persistsecurityinfo=True;database=prisma;port=3306"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>